.search-input {
  position: absolute;
  left: 50vw;
  transform: translate(-50%);
}

@media only screen and (max-width: 600px) {
  .search-input {
    position: relative;
    display: flex;
    justify-content: center;
    transform: none;
    left: 0;
  }
  .search-text {
    width: 8rem;
  }
}
